.clip {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myVideo {
    width: 399px;
    margin-top: -6px;
    background-color: #1e8abd;
    border-radius: 10px;
    margin-left: -10px;
}

iframe {
    margin-left: -10px;
    margin-top: -6px;
}

.still {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gif-div {
    display: block;
    width: 442px;
    height: 445px;
    border: 30px solid transparent;
    margin: 15px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

body {
    background-color: lightgoldenrodyellow;
}

.greeting-button {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: #352b2a;
    font-weight: bold;
    border: 1.5px solid #695b5a;
    text-align: center;
    display: inline-block;
    font-family: 'Poiret One', cursive;
    margin: 6px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
    font-family: 'Berkshire Swash', cursive;
    background-color: #695b5a;
    width: 100%;
    text-align: center;
    height: 100px;
    border-bottom: 5px solid #00cccf;
    padding: 0;
    padding-top: 15px;
    margin: 0;
    color: #00cccf;
}

#add-greeting {
    float: right;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    color: #695b5a;
    font-weight: bold;
    border: 1.5px solid #695b5a;
    text-align: center;
    display: inline-block;
    font-family: 'Poiret One', cursive;
    margin: 6px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btn-div {
    padding-left: 129px;
    padding-right: 121px;
    border-right: 2px solid #695b5a;
}

#input-label {
    font-family: 'Poiret One', cursive;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #695b5a;
    padding-bottom: 10px;
}

form {
    display: inherit;
}

#form-div {
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid #695b5a;
}

#input-div {
    margin-left: -18px;
    padding-right: 10px;
}

input {
    font-family: 'Poiret One', cursive;
    color: #ff6600;
    font-weight: bold;
    border: 1.5px solid #695b5a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rating-letter {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #ff6600;
    position: absolute;
    right: 0;
    bottom: -44px;
    font-family: 'Poiret One', cursive;
}

#greeting-gifs {
    padding-left: 87px;
}

.click {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #ff6600;
    font-weight: bold;
}

#pic {
    display: block;
    margin-top: 20px;
    margin-left: 25px;
    margin-top: 35px;
    width: 400px;
    border: 6px solid #1e8abd;
}

.gif-div2 {
    display: inline-block;
    width: 643px;
    height: 446px;
    border: 30px solid transparent;
    margin: 15px;
    margin-left: -80px;
    margin-top: 26px;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .display-4 {
        font-size: 2rem;
        font-weight: 250;
        line-height: 1.2;
        color: red;
    }
    .greeting-button {
        height: 60px;
        width: 60px;
    }
    #pic {
        width: 300px;
    }
    #btn-div {
        padding-left: 55px;
    }
    #greeting-gifs, #greeting-gifs2 {
        padding-left: 0px;
    }
    .gif-div {
        width: 317px;
        height: 321px;
        margin-left: 22px;
    }
    #myVideo {
        width: 275px;
        height: 275px;
    }
    iframe {
        width: 285px;
        height: 200px;
    }
    .gif-div2 {
        width: 328px;
        height: 246px;
        margin-left: 18px;
    }
}